# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\KWOKJO2\OneDrive - Orient Overseas Container Line Ltd\Desktop\TATP bootcamp\JavaAsm4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
